// texts
$color-h1-text: #FFFFFF;
$color-gray-text: #F8F8F8;
$color-main-text: #C209C1;

// $color-href-light-text: #E87EF1;
$color-href-dark-text: #F40BF4;
$color-href-light-text: #E543AA;
$credits-left-text: #808080;
$color-border: #CBCBCB;
$color-buy-more-credits: #158380;
$color-default-white: #FFFFFF;
$color-selector-text: #9E9E9E;
$color-disbaled-background: #EDEDED;
$color-h1-text: #616161;

// selector
$color-selector-text: #9E9E9E;

// btn
$color-premium-btn-background: #158380;
$color-premium-btn-text: #FFFFFF;
$color-action-btns-selected-text: #920792;
$color-action-btns-hovered: #920792;

// href
$color-premium-href-text: #158380;

// input
$color-premium-input-text: #454545;


// messages 
$color-error-text: #D31E2A;
$color-error-border: #D31E2A;
$color-warning-text: #ff9966; 
$color-success-text: #158380;

// disabled components
$color-selector-disabled-text: #BFBFBF;
$color-selector-disabled-background:#F7F7F752;
$color-selector-disabled-border:#D9D9D952;

$color-btn-disabled-background: #F5F5F552;
$color-btn-disabled-text: #CBCBCB;
$color-btn-disabled-border: #CBCBCB;

$color-picker-disabled-background: #F7F7F752;
$color-picker-disabled-text: #BFBFBF;
$color-picker-disabled-border: #D9D9D952;

// New Design Light
$light-color-option-deactive: #B2B2B2;
$light-color-option-active: #333333;


// New Design dark
$dark-color-option-deactive: #B2B2B2;
$dark-color-option-active: #FFFFFF;



